@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.App {
  text-align: center;
}

.esimene-pic {
  width: 100%;
}
 
.keerleb-kampsun { 
	animation: kampsun-spin infinite 20s linear;
	height: 350px;
}

.keerleb-suss { 
	animation: sussi-spin infinite 20s linear;
	height: 350px;
}

.kampsun {
	justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.kampsun > h3 {
	font-size: 60px;
}

.kampsun > h4 {
	font-size: 60px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-yo {
  background-color: #393f43;
  color: white;
  padding: 10px;
  margin-top: -10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.text-yo > h1 {
  margin: 0;
  font-size: 36px;
}

.text-yo > h2 {
  animation: blinker 0.3s linear infinite;
  font-size: 100px;
  
}

.text-yo > h3 {
  font-size: 60px;
}

.text-yo > h4 {
  font-size: 60px;
}

.text-yo > h5 {
  animation: warning 1s linear infinite;
  font-size: 36px;
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

@keyframes blinker {
    0% {
      color: #08a742;
    }
    100% {
      color: #393f43;
    }
  }

@keyframes warning {
    0% {
      color: #a70808;
      }
      100% {
        color: #ffffff;
      }
  }

@keyframes kampsun-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(2000deg);
  }
}

@keyframes sussi-spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(10000deg);
	}
  }
  